  .attribute{
            background-color: pink;
            /* width: 500px; */
            height: 150px;
            font-size: 100px;
            font-weight: bolder;
            text-align: center;
            color: white;
            margin: 0;
            background-image: url(coffee\ bean.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            
        } 