  .attribute{
            background-color: pink;
            /* width: 500px; */
            height: 150px;
            font-size: 100px;
            font-weight: bolder;
            text-align: center;
            color: white;
            margin: 0;
            background-image: url(coffee\ bean.jpeg);
            background-repeat: no-repeat;
            background-size: cover;
            
        } 
        .left{
            width: 300px;
            height: 400px;
            float: left;
            margin: 0px 50px;
            box-shadow: 10px 20px 10px grey;
        }
        .center{
            width: 300px;
            height: 400px;
            /* float: inline-start; */
            margin: 0px 70px;
            box-shadow: 10px 20px 10px grey;
        }
        .right{
            width: 300px;
            height: 400px;
            float: right;
            margin: 0px 50px;
            box-shadow: 10px 20px 10px grey;
        }